
.toggle {display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #f5f5f5;
    height:50px;
}

.toggle_button {
    background-color: rgb(208, 198, 198);
    color: black;  
    border-radius: 1px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle_button:hover {
    background-color: green;
}